
            #rel{
                text-align: center;
                color: #FF1493;
                font-weight: bold;
                font-size: 500px;
                width: 2000px;
                background-color: black;
                align-items: center;
            }
